@import './theme';

.productos-container{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: $black;
    .productos{
        background-image: url('../../../public/img/portada2.png');
        object-fit: contain;
        max-width: 1080px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-height: 500px;
        h3{
            color: $black;
            font-size: 24px;
            background-color: rgba($color: $light, $alpha: 0.6);
            padding: 5px 10px;
            border-radius: 5px;
            width: auto;
            margin: 25px 0;
            border: 3px solid $black;
        }
        ul{
            display: flex;
            padding-left: 0;
            width: 80%;
            justify-content: space-around;
        }
    }
}


@media only screen and (max-width:500px){
    .productos-container{
        .productos{
            max-width: 100%;
            height: 100%;
            min-height: 350px;
            h3{
                font-size: 18px;
                padding: 3px 5px;
                border: 2px solid $black;
            }
            ul{
                width: 90%;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media only screen and (min-width:501px) and (max-width: 800px){
    .productos-container{
        .productos{
            max-width: 100%;
            height: 100%;
            min-height: 350px;
            h3{
                font-size: 20px;
                padding: 3px 5px;
                border: 2px solid $black;
            }
            ul{
                width: 90%;
                flex-direction: column;
                align-items: center;
            }
        }
    }
}
@media only screen and (min-width:801px) and (max-width: 1024px){
    .productos-container{
        .productos{
            max-width: 100%;
            height: 100%;
            min-height: 350px;
            h3{
                font-size: 22px;
            }
            ul{
                width: 90%;
                align-items: center;
            }
        }
    }
}