@import './theme';

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 9px 11px 42px 3px rgba(0,0,0,0.81);
    -webkit-box-shadow: 9px 11px 42px 3px rgba(0,0,0,0.81);
    -moz-box-shadow: 9px 11px 42px 3px rgba(0,0,0,0.81);
    h4{
        color: $black;
        font-size: 20px;
        margin: 0;
    }
    img{
        width: 180px;
    }
}
.producto-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
    .img-container{
        display: flex;
        justify-content: center;
        width: 20%;
        img{
            margin-right: 12px;
            max-width: 140px;
            max-height: 140px;
            object-fit: scale-down;
        }
    }
    .info-container{
        width: 80%;
        h4{
            font-size: 16px;
            color: $blue;
        }
        p{
            font-size: 12px;
        }
    }
}

.producto{
    display: flex;
}

@media only screen and (max-width:500px){
    .producto{
        width: 50%;
        padding: 8px;
        border-radius: 5px;
        margin-bottom: 10px;
        h4{
            font-size: 16px;
        }
        img{
            width: 100px;
        }
    }

    .producto-item{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 12px 0;
        border-bottom: 1px solid $blue;
        width: 95%;
        .img-container{
            display: flex;
            justify-content: center;
            width: 90%;
            img{
                margin-right: 0px;
                max-width: 100%;
                max-height: 115px;
            }
        }
        .info-container{
            width: 95%;
            h4{
                font-size: 14px;
            }
            p{
                font-size: 11px;
                margin:0;
                margin-bottom: 5px;
            }
        }
    }
}
@media only screen and (min-width:501px) and (max-width: 800px){
    .producto{
        width: auto;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        h4{
            font-size: 18px;
        }
        img{
            width: 140px;
        }
    }
    .producto-item{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 10px 0;
        border-bottom: 1px solid $blue;
        width: 95%;
        .img-container{
            display: flex;
            justify-content: center;
            width: 90%;
            img{
                margin-right: 0px;
                max-width: 100%;
                max-height: auto;
            }
        }
        .info-container{
            width: 95%;
            h4{
                font-size: 15px;
            }
            p{
                font-size: 12px;
                margin:0;
                margin-bottom: 5px;
            }
        }
    }   
}

@media only screen and (min-width:801px) and (max-width: 1024px){
    .producto{
        width: auto;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        h4{
            font-size: 18px;
        }
        img{
            width: 140px;
        }
    }
    .producto-item{
        .img-container{
            display: flex;
            justify-content: center;
            width: 20%;
            img{
                margin-right: 10px;
                max-width: 120px;
                max-height: 120px;
            }
        }
        .info-container{
            width: 80%;
            padding-right: 5px;
            h4{
                font-size: 16px;
            }
            p{
                font-size: 12px;
            }
        }
    }  
}